<!--Inspirational, love, humor, motivational,-->
<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> POPULAR QUOTES </h1>
		<form action='/author' method='GET'>
            <div class="form-group row"><label>Category</label><select>
                        <option value="">Select one</option>
                        <option value="i">Inspirational</option>
                        <option value="m">Motivational</option>
                        <option value="l">Life</option>
                        <option value="m">Wisdom</option>
                        <option value="i">Freedom</option>
                        <option value="x">Moral</option>
                            </select></div>
                        </form>
                        
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search Quotes</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		
	</div>
</div>

<%- include ('templates/footer'); -%>